@model HorseShow_Framework.Areas.Admin.ViewModels.ExportRiderInfo_Vm

@{
    ViewBag.Title = "View All Rider Data";
    ViewBag.CheckIn = Model.UserPermissions.CheckIn_Riders;
    ViewBag.ShowBill = Model.UserPermissions.Showbill_Settings;
    ViewBag.ClassLineUp = Model.UserPermissions.View_ClassLineUp;
    ViewBag.DivScores = Model.UserPermissions.View_DivScores;
    ViewBag.ClassScores = Model.UserPermissions.View_ClassScores;
    ViewBag.BestInShow = Model.UserPermissions.BestInShow_Results;
}
<script>
    function initDatatable() {
        $('#regRider').DataTable({
            dom:/*'<"row my-4"Bf>t',*/
                "<'row'<'col-lg-3'B><'col-lg-9'>>" +
            "<'row'<'col-lg-12'tr>>" +
            "<'row'<'col-lg-5 pl-2'f><'col-lg-7'p>>",
        buttons: [
            {
                extend: 'csv',
                text: 'Export CSV',
                exportOptions: {
                    modifier: {
                        search: 'none',
                        page: 'all'
                    }
                }
            }, 'colvis'
        ],
        "info": false,
        "lengthChange": false,
        "pageLength": 20,
        "language": { search: '', searchPlaceholder: "Search..." }
        });
        $(".dt-buttons").addClass("col-xl-6 mx-auto mb-2 d-inline");
        $(".buttons-colvis").html("<span><span class='fontWeight600'>Show</span> / <span class='fontWeight600'>Hide</span> Columns </span>");
        $("#regRider_filter label").addClass("float-left");
        $("#regRider_filter label").css("width", "100%");
    }

    $(document).ready(function () {
        initDatatable();
    });
    
</script>
<div class="bg-dark">
    <div class="container text-center space-2 space-3--lg">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 mx-md-auto mb-5">
            <h1 class="h1">
                <span class="font-weight-medium text-white">View All Rider Info</span>
            </h1>
        </div>
        <!-- End Title -->
    </div>
</div>
<!-- End Hero Section -->
<div class="row">
    <div class="offset-1 col-md-10">
        <table id="regRider" class="table tableUseCaseLanding">
            <thead>
                <tr>
                    <th>Rider Number</th>
                    <th>Rider Name</th>
                    <th>Horse Name</th>
                    <th>Age</th>
                    <th>Division</th>
                    <th>Total Due</th>
                    <th>Checked In</th>
                    <th>Paid</th>
                    <th>Payment Method</th>
                    <th># Of Classes Registered For</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Street</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                </tr>
            </thead>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td> @item.HorseRider.intRiderNumber </td>
                    <td> @item.Person.strFirstName @item.Person.strLastName </td>
                    <td> @item.HorseRider.strHorseName </td>
                    <td> @item.Person.intAge </td>
                    <td> @item.strDivisionName </td>
                    <td> @item.HorseRider.fltAmountDue </td>
                    <td>
                        @if (item.HorseRider.ysnCheckedIn)
                        { 
                            @Html.Raw("Yes");
                        } else
                        {
                            @Html.Raw("No");
                        }
                    </td>
                    <td>
                        @if (item.HorseRider.ysnHasPaid)
                        {
                            @Html.Raw("Yes");
                        }
                        else
                        { 
                            @Html.Raw("No");
                        }
                    </td>
                    <td> @item.HorseRider.strPaymentMethod </td>
                    <td> @item.ClassCount </td>
                    <td> @item.Person.intPhoneNumber </td>
                    <td> @item.Person.strEmail </td>
                    <td> @item.Person.strAddress </td>
                    <td> @item.Person.strCity </td>
                    <td> @item.Person.strState </td>
                    <td> @item.Person.intZipCode </td>
                </tr>
            }

        </table>

    </div>
</div>