@model HorseShow_Framework.Areas.Admin.ViewModels.Store_VM

<div class="container">
    <div class="row">
        <div class="col-12">
            <table id="storeTable" class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.strItemName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.strItemDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.fltCost)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.dtmCreated)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.dtmModified)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model.storeItems)
                {
                    <tr id="@(item.intItemID + "_row")">
                        <td>
                            <span class="divNoEditing">@Html.DisplayFor(modelItem => item.strItemName)</span>
                            @Html.EditorFor(modelItem => item.strItemName, new { htmlAttributes = new { @class = "divYesEditing", @id = item.intItemID + "_Name", @rows = "2", @style = "margin-top: 0;" } })
                        </td>
                        <td>
                            <span class="divNoEditing">@Html.DisplayFor(modelItem => item.strItemDescription)</span>
                            @Html.EditorFor(modelItem => item.strItemDescription, new { htmlAttributes = new { @class = "divYesEditing", @id = item.intItemID + "_Descr", @rows = "2", @style = "margin-top: 0;" } })
                        </td>
                        <td>
                            <span class="divNoEditing">@Html.DisplayFor(modelItem => item.fltCost)</span>
                            @Html.EditorFor(modelItem => item.fltCost, new { htmlAttributes = new { @class = "divYesEditing", @id = item.intItemID + "_Cost", @rows = "2", @style = "margin-top: 0;" } })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dtmCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dtmModified)
                        </td>
                        <td style="white-space:nowrap; text-align: center;">
                            <a href="javascript:void(0);" title="Edit" class="linkTeal divNoEditing" onclick="editRow(this.id)" id="@item.intItemID">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href="javascript:void(0);" title="Delete" class="linkTeal divNoEditing rightButton" id="@item.intItemID" onclick="removeStoreItem(this.id)">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                            <a href="javascript:void(0);" title="Update" class="linkTeal divYesEditing" onclick="updateStoreItem(this.id)" id="@item.intItemID">
                                <i class="fas fa-check"></i>
                            </a>
                            <a href="javascript:void(0);" title="Cancel" class="linkTeal divYesEditing rightButton" onclick="cancelEditRow(this.id)" id="@item.intItemID">
                                <i class="fas fa-times"></i>
                            </a>
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>

    <!-- no new row; shown on load -->
    <div class="row datatableFooter">
        <div class="col-xl-9 divNoNewRow"></div>
        <div class="col-xl-3 divNoNewRow buttonUpdateUseCase">
            <a href="javascript:void(0);" title="Insert" class="card cardSmaller cardSmallerTextLightGrey" onclick="addNewRow()">
                <div class="card-body" style="cursor: pointer; text-align: center;">
                    <h5 class="card-title" style="margin-bottom: 0;">
                        <i class="fas fa-plus colorTeal" style="font-size: 16px; padding-right: 6px;"></i>
                        <span class="fontWeight600 colorTeal">Add</span>
                        <span style="font-weight: 300;">Row</span>
                    </h5>
                </div>
            </a>
        </div>
    </div>
    
    <!-- yes new row; shown when button is pressed -->
    <div class="row datatableFooter">
        <div class="col-xl-4 divYesNewRow mb-2">
            @Html.EditorFor(model => model.strItemName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Item Name", @id = "itemName" } })
        </div>

        <div class="col-xl-7 divYesNewRow mb-2">
            @Html.EditorFor(model => model.strItemDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Item Description", @id = "itemDescr", @style = "margin-top: 0;" } })
        </div>
        <div class="col-xl-7 divYesNewRow mb-2">
            @Html.EditorFor(model => model.fltCost, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cost", @id = "fltCost1", @style = "margin-top: 0;" } })
        </div>
        <!-- buttons -->
        <div class="col-xl-1 divYesNewRow" style="text-align: right; padding-left: 0;">
            <a href="javascript:void(0);" title="Insert" class="linkTeal" onclick="insertStoreItem()">
                <i class="fas fa-check" style="font-size: 1rem;"></i>
            </a>
            <a href="javascript:void(0);" title="Cancel" class="linkTeal rightButton" onclick="cancelInsertRow()">
                <i class="fas fa-times" style="font-size: 1rem;"></i>
            </a>
        </div>
    </div>
</div>